.detailCourse {
    @apply grid grid-cols-12 gap-10 mt-6 px-10;
}

.detailCourse .content {
    @apply col-span-12 xl:col-span-8;
}

.content__title {
    @apply text-4xl font-bold my-4;
}

.content__desc {
    @apply my-8 mb-9;
}

.content__subTitle {
    @apply font-bold text-2xl my-4;
}

.content .advantages {
    @apply flex flex-wrap items-center gap-6 mb-9;
}

.advantages .advantages__item {
    @apply w-full md:w-[45%] xl:w-[40%] flex items-start;
}

.advantages__item svg {
    @apply mr-4 text-orange-500;
}

.advantages__item p {
    @apply text-base
}

.content__extend {
    @apply flex justify-between items-center;
}

.content__extend p span {
    @apply font-bold;
}

.content__parts {
    @apply w-full my-4;
}

.content__parts.learning {
    @apply w-full;
}


::-webkit-scrollbar {
   display: none;
}

.content__parts .content__parts-list::-webkit-scrollbar {
    display: inline-block;
    width: 8px;
    max-height: 15px;
}

.content__parts .content__parts-list::-webkit-scrollbar-thumb {
    @apply bg-orange-600;
    border-radius: 6px; /* Bo tròn các cạnh của thanh cuộn */
}

/* .content__parts .content__parts-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track */    
  
.content__parts .item__strong {
    @apply text-base mr-2 mb-2 px-6 py-5 text-black font-medium pr-10 rounded-md flex justify-between items-center;
    background-color: #f5f5f5;
}

.content__parts .item__strong div {
    @apply flex items-center;
}

.content__parts .item__strong div .item__strong-icon {
    @apply relative w-10;
}

.content__parts .item__strong div .item__strong-icon svg {
    @apply mr-4 text-orange-600 text-4xl absolute left-0;

}


.content__parts .item__strong div .item__strong-icon.learning svg {
    @apply  !text-orange-600 text-4xl   ;
}

.content__parts .item__strong div .item__strong-icon.hidden svg {
    @apply opacity-0;
}

.content__parts .item__strong span {
    @apply font-normal
}

.content__parts .item__child {
    @apply flex justify-between items-center ;

    &.learning {
        @apply flex-col items-start ;
    }
}

.content__parts .item__child div {
    @apply flex items-center;
}

.content__parts .item__child div svg {
    @apply mr-4 text-orange-600;
}

.div-learning {
}

.div-learning svg {
    @apply text-base !mr-2;
}

.span-learning {
    @apply text-xs
}

.required {
    @apply mb-5;
}

.required__item {
    @apply flex items-center py-3 ;
}

.required__item svg {
    @apply mr-4 text-orange-500;
}

.sticky-part {
    @apply sticky top-[63px] z-30 bg-white;
}

.detailCourse .general {
    @apply col-span-12 hidden xl:block xl:col-span-4 px-8;
}

.general__wrapper {
    @apply sticky top-[68px] mb-72;
}

.general__introduce {
    @apply relative;
}

.general__introduce img {
    @apply mx-auto rounded-xl;
}

.general__introduce svg {
    @apply text-7xl font-bold text-white text-center absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
}

.general__introduce p {
    @apply text-xl font-bold text-white w-full text-center absolute bottom-2;
}

.general__register {
    @apply text-center mt-8;;
}

.general__register p {
    @apply w-3/4 mx-auto mb-4 p-1 font-bold text-2xl text-white bg-orange-500 rounded-full;
}

.general__register button {
    @apply mx-auto mb-8 px-6 py-2 font-bold text-2xl text-white rounded-full;
    background-color: #f05123;
}

.general__detail p {
    @apply text-sm xl:text-base w-[80%] text-center mx-auto text-left mb-4;
}

.general__detail p svg {
    @apply  mr-4 ;
}

.sub-general__wrapper {
    @apply xl:hidden mb-12 rounded-xl p-8;
    border: 1px solid black;
}